/*General rules */
html,body {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

.container {

    margin: 0 auto;


}

/*Media queries for responsive design */

  /*----Common styles for tablet and desktop design----*/
@media only screen and (min-width: 1024px), (max-width: 1025px) {
  .banner h1{
    font-size: 2rem;
  }
  .banner h5{
    font-size: 1rem;
    padding-bottom: 0.25rem;
  }
  .blackbox {
    width: 20rem;
    padding: 2rem 3rem;
    top: 9em;
  }
  .banner {
    height: 25rem;
  }
  .contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  .contactbox {
    width: 35%;
  }
  footer {
      padding: 5rem 0;
  }

}



  /*----Desktop query----*/
@media only screen and (min-width: 1024px) {
    /*Remove mobilemenu */
    .mobilemenu {
      display: none;
    }
    /*adjust product width*/
    .product {
        width: 30%;
        margin: auto;
    }
    .desktopmenu {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
 }

  /*Tablet query */
@media only screen and (max-width: 1023px) {

  html,body {
    font-size: 16px;
  }
  /*Remove desktopmenu & show tabletmenu */
    .desktopmenu{
      display: none;
    }
  .mobilemenu {
      display: flex;
      justify-content: center;
    }
  /*Remove glasses product, modify product width*/
  .glasses {
    display: none;
  }
  .product {
      width: 47%;
  }


}

  /*----Smartphone query----*/
@media only screen and (max-width: 470px) {

  /*Remove desktopmenu & show tabletmenu */
  .desktopmenu{
    display: none;
  }

  /*Remove glasses and watch product, modify product width*/
  .glasses{
    display: none;
  }
  .watch {
    display: none;
  }
  .product {
    width: 90%;
    margin: auto;
  }
  .products {
    flex-wrap: wrap;
  }
  /*Change banner font-size*/
  .banner h1{
    font-size: 1rem;
  }
  .banner h5{
    font-size: 0.77rem;
  }
  /*Change blackbox behavior*/
  .blackbox {
    width: 100%;
    padding: 1rem 2rem;
    top: 10em;
  }
  /*Change banner height*/
  .banner {
    height: 15rem;
  }
  /*Change Contact display*/
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  .contactbox {
    width: 90%;
  }


}





/*Header rules */
header {
  background-color: black;

}
header img {
  height: 1.5rem;
  width: auto;
  padding:0 0.5rem;
}
header span {
  color: white;
  padding-left: 0.5rem;
}
header .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0;
}


/*Banner rules */
.banner {
  background: url(../images/moto.jpeg);
  background-position: center;
  background-size: cover;

}
.blackbox {
  background-color: black;
  color: white;
  position: relative;
  line-height: normal;
}
.banner h1{
  font-weight: bold;
}
.banner h5{
  font-weight: bold;
}

/*Menu rules */

nav{
  background-color: firebrick;
}
nav a {
  text-decoration: none;
  color: white;
}
nav span {
  padding: 0.75rem 0;
}



/*Product Grid rules */

.products  {
  display: flex;
  justify-content: space-between;


}
.product {
  margin: 3rem 0;


}
.product-image{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 4px solid black;
  height: 9rem;
  padding: 2rem 0;
}
.product p{
  background-color: black;
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
}
.product-image img {
  max-width: 8em;
}
/*Contact section rules */


.location,.hours {
  background-color: black;
  padding: 1rem 0 1rem 2rem;
}
.blacktext {
  color: black;
}
/*Footer rules */

footer {

  padding: 5rem 0;
  background-color: black;
  color: white;

}

@media only screen and (max-width: 470px) {
  footer {
    text-align: center;
  }
